/* Container */
.scan-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Search Bar Container */
.search-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

/* Search Result */
.search-result p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

/* Scan History Container */
.scan-history-container {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.scan-main{
  border: 1px solid rgb(211, 206, 206);
  padding: 50px 15px;
  border-radius: 10px;

}
