/* Container */
.scan-history {
    padding: 20px;
    font-family: Arial, sans-serif;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: rgb(232, 233, 237);
  }
  
  /* Header */
  .scan-history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .scan-history-header h3 {
    margin: 0;
  }
  
  /* Action Buttons */
  .action-buttons button {
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .delete-scans, .stop-scans {
    background-color: #ff7f7f;
    color: #fff;
    border: 1px solid #cd5151;
  }
  
  /* Filters */
  .scan-filters {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
  }
  
  .filter-btn {
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .search-bar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  /* Table */
  .scan-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .scan-table th,
  .scan-table td {
    padding: 15px 12px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }
  .scan-table td{
    background: white;
    padding: 20px 10px;
  }


  .scan-table th {
    background-color: #d4d1f3;
  }
  
  .summary {
    display: flex;
    gap: 5px;
    justify-content: center;
  }
  
  .summary-box {
    width: 30px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    line-height: 20px;
  }
  
  .summary-box.blue {
    background-color: #2196f3;
    color: white;
  }
  
  .summary-box.yellow {
    background-color: #ffeb3b;
    color: black;
  }
  
  .summary-box.red {
    background-color: #f44336;
    color: white;
  }
  
  /* Scan Engine */
  .scan-engine {
    padding: 5px 10px;
    background-color: #e3f2fd;
    border-radius: 5px;
    color: #2196f3;
  }
  
  /* Status */
  .status {
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .in-progress {
    background-color: #b3e5fc;
    color: #0277bd;
    margin: auto;
  }
  
  .completed {
    background-color: #c8e6c9;
    color: #2e7d32;
  }
  
  /* Progress Bar */
  .progress-bar {
    width: 100px;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    margin: auto;
  }
  
  .progress {
    height: 100%;
    background-color: #2196f3;
  }
  
  /* View Results Button */
  .view-results {
    padding: 5px 10px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Pagination */
  .pagination {
    margin-top: 10px;
    font-size: 14px;
  }
  